PORT=5000
MONGO_URI=mongodb://hospital_admin:Hospital%4012345@ac-zpzuxdi-shard-00-00.hawjngm.mongodb.net:27017,ac-zpzuxdi-shard-00-01.hawjngm.mongodb.net:27017,ac-zpzuxdi-shard-00-02.hawjngm.mongodb.net:27017/healthcare?ssl=true&replicaSet=atlas-k30bzi-shard-0&authSource=admin&appName=HealthCare
JWT_SECRET=change_this_secret
APPOINTMENT_SERVICE_URL=http://localhost:5001
CLIENT_ORIGIN=http://localhost:3000
